*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #98d7e8;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    background-color: rgba(11, 12, 8, 0.822);
    /* background-color: rgba(4, 3, 1, 0.801); */
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 10px rgba(203, 194, 194, 0.2), 10px 5px 15px rgba(255, 251, 251, 0.1) ;
    background: transparent;
    font-size: 20px;
    color: #fff703;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 ;

}
form .display input{
    text-align: right;
    flex:1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
   width:25vh;
}form input.operator{
    color: rgb(0, 255, 136);
}

form input.right{
    color: rgb(76, 1, 252);
}
#right{ 
background-color: rgb(249, 6, 6);
}
@media only screen and (max{
    
}